extends ../alpaca-base-layout

block extra_variables
    -var titleVar = "Create DAO"

//- Include any stylesheets needed by the page being rendered.
block extra_css

    // Additional CSS required for jTable.
    link(rel="stylesheet", href="/stylesheets/normalize/normalize.css")
    // jTable CSS for the jQuery UI themes.
    link(rel="stylesheet", href="/stylesheets/jqueryui/themes/jqueryui/jtable_jqueryui.css")
    // JqueryUI ui-darkness theme.
    link(rel="stylesheet", href="/stylesheets/jqueryui/themes/ui-darkness/jquery-ui.css")
    // CSS for jTable highlighting.
    link(rel='stylesheet', href='/stylesheets/jtable/jtable-highlight.css')

//- Include any additional header javascript files needed by the page being rendered.
block extra_javascript

    script(type="text/javascript" src="/javascripts/jtable/jquery.jtable.js")
    script(type="text/javascript" src="/javascripts/jtable/jtable-support-client-side.js")

    script(type="text/javascript" src="/javascripts/objects/cryptocurrency-list.js")
    script(type="text/javascript" src="/javascripts/page-support/create-dao-page-support.js")
    script(type="text/javascript" src="/javascripts/select2/js/select2.full.min.js")

    // Auto-clean textarea page elements marked with the "auto-clean-text" class.
    // script(type="text/javascript" src="/javascripts/autoclean/autoclean.js")

    // Our auto-complete manager module.
    // script(type="text/javascript", src="/javascripts/autocomplete/autocomplete-manager.js")

block content

    div(class="")
        // Navigation links.
        include nav-links

    div(id="top-level-div" class="padded-content-container")
        div(class="content-container")
            // This is the DIV that contains the table we use for entering data.
            table(id="main-table")
                tbody
                    // ROW: Select cryptocurrency symbol.

                    // tr
                        td(class="field-label")
                            span(class="margin-left-indent-1") Default DAO Token
                        td(id="asset-symbol-td")
                            // This is select box that lets the user select the desired
                                cryptocurrency goes.  It will be filled in by select2.
                            select(id="crypto-symbol-select2-div" class="crypto-symbol-select2")
                    // ROW: Latest price quote.
                    // tr
                        td(class="field-label")
                            span(class="margin-left-indent-1") Current Price
                        td(id="current-asset-price-td")
                            span(class="current-asset-price") (waiting...)
                    tr
                        td(class="frog-logo")
                            img(class="frog-logo-1" src="/images/neo/neodao-frog-with-pipe-resized-1.png" alt="NeoDao Frog")
                        td(id="token-picker")
                            table
                                tbody
                                    tr
                                        td(class="field-label")
                                            span(class="margin-left-indent-1") Default DAO Token
                                        td(id="asset-symbol-td")
                                            // This is select box that lets the user select the desired
                                                cryptocurrency goes.  It will be filled in by select2.
                                            select(id="crypto-symbol-select2-div" class="crypto-symbol-select2")
                                    tr
                                        td(class="field-label")
                                            span(class="margin-left-indent-1") Current Price
                                        td(id="current-asset-price-td")
                                            span(class="current-asset-price") (waiting...)

            // This DIV will contain the Alpaca form where the user will enter the
            //  DAO data.
            div(id="alpaca-form-host-div")
                // This element is just for reference purposes.  The code that
                //  creates the Alpaca form will delete and recreate this element.
                div(id="alpaca-form-div")

