// The NAV links that appear above every page.

nav
    span(class="links_label") LINKS:
    a(class="nav-link" href="/create-dao" title="Create DAO")  Create Dao
    a(class="nav-link" href="/list-daos" title="List Daos")  List Daos
