extends ../alpaca-base-layout

block extra_variables
    -var titleVar = "Create DAO"

//- Include any stylesheets needed by the page being rendered.
block extra_css

    // Additional CSS required for jTable.
    link(rel="stylesheet", href="/stylesheets/normalize/normalize.css")
    // jTable CSS for the jQuery UI themes.
    link(rel="stylesheet", href="/stylesheets/jqueryui/themes/jqueryui/jtable_jqueryui.css")
    // JqueryUI ui-darkness theme.
    link(rel="stylesheet", href="/stylesheets/jqueryui/themes/ui-darkness/jquery-ui.css")
    // CSS for jTable highlighting.
    link(rel='stylesheet', href='/stylesheets/jtable/jtable-highlight.css')

//- Include any additional header javascript files needed by the page being rendered.
block extra_javascript

    script(type="text/javascript" src="/javascripts/jtable/jquery.jtable.js")
    script(type="text/javascript" src="/javascripts/jtable/jtable-support-client-side.js")

    script(type="text/javascript" src="/javascripts/objects/cryptocurrency-list.js")
    script(type="text/javascript" src="/javascripts/neodao-js/neofs-support.js")
    script(type="text/javascript" src="/javascripts/neodao-js/greenfinch-helpers.js")
    script(type="text/javascript" src="/javascripts/page-support/submit-proposal-page-support.js")
    script(type="text/javascript" src="/javascripts/select2/js/select2.full.min.js")

    // Auto-clean textarea page elements marked with the "auto-clean-text" class.
    // script(type="text/javascript" src="/javascripts/autoclean/autoclean.js")

    // Our auto-complete manager module.
    // script(type="text/javascript", src="/javascripts/autocomplete/autocomplete-manager.js")

block content

    div(class="")
        // Navigation links.
        include nav-links

    div(id="top-level-div" class="padded-content-container")
        div(class="content-container")
            // This is the DIV that contains the table we use for entering data.
            table(id="main-table")
                tbody
                    tr
                        td(class="half-top")
                            // This DIV will contain the Alpaca form where the user will enter the
                            //  DAO data.
                            div(id="alpaca-form-host-div")
                                // This element is just for reference purposes.  The code that
                                //  creates the Alpaca form will delete and recreate this element.
                                div(id="alpaca-form-div")
                        td(class="half-top")
                            img(class="logo-1" src="/images/neo/neofs-small-logo-1.png" alt="NeoFS")
                            span Recently Uploaded Assets
                            hr
                            div(id="neofs-file-box")


    // ------------------------------------ HANDLEBARS TEMPLATES --------------------------------------

    // This template renders a Greenfinch/NeoFS summary object.
    script(id="neofs-recent-upload-template", type="text/x-handlebars-template")
        div(class="greenfinch-file-asset-result borderlist")
            p
                span(class="field-label") Name
                a(class="neofs-asset-link" href="{{neoFsUrl}}" target="_blank") {{primaryFilename}}
            // p
                span(class="field-label") ID (pair)
                span(class="field-value") {{compoundId}}
            p
                span(class="field-label") Timestamp
                span(class="field-value") {{timestampAsDateStr}}
